<h3>welcome to angular 12 application</h3>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" routerLink='' >Login</a>
  </li>  
  <li class="nav-item">
      <a class="nav-link active" routerLink='tour-heros'> Tour of Heroes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='samples'>Samples</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='customers'>Customer</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='recipe'>Recipes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink='users'>Users</a>
    </li>
</ul>