<div>
  <h3>welcome to angular 12 application</h3>
  <a class="nav-link active" routerLink='' >Login</a>
  <a class="nav-link active" routerLink='tour-heros'> Tour of Heroes</a>
  <a class="nav-link" routerLink='samples'>Samples</a>
  <a class="nav-link" routerLink='customers'>Customer</a>
  <a class="nav-link" routerLink='recipe'>Recipes</a>
  <a class="nav-link" routerLink='users'>Users</a>
  <a class="nav-link" routerLink='users-det'>single User detail</a>
  <a class="nav-link" routerLink='html-basics'>Basic Html Sample</a>
  <a class="nav-link" routerLink='material-basics'>Material Components Examples</a>
  <a class="nav-link" routerLink="sample-reactive-form">Sample Reactiev Forms</a>
</div>
   