<!-- <p class="bgColor" title="paragraph" ><b>html-basics works!</b> </p>
<img src="../../assets/sample image.png" alt="this is a test image" class="imgWidth"> -->
<!-- <ol>
    <li>deepak</li>
    <li>arpit</li>
    <li>pratik</li>
</ol>
<ul type="circle">
    <li>deepak</li>
    <li>arpit</li>
    <li>pratik</li>
</ul> -->
<hr>
<form >
    <label for="fname">Enter first name </label><br>
    <input type="text" name="fname" id="fname"><br>
    <label for="lname">Enter last name</label><br>
    <input type="text" name="lname" id="lname"><br>
    <label for="password">Enter password</label><br>
    <input type="password" name="password" id="password"><br>
    <label for="email">Enter email</label><br>
    <input type="email" name="email" id="email" placeholder="enter email address"><br>
    <input type="checkbox" name="chkremeber" id="chkremeber" value="isRemember">
    <label for="chkremeber">Remember Me</label>
    <br>
    <label for="ctrlMonth">Enter first name </label><br>
    <input type="date" name="ctrlMonth" id="ctrlMonth"><br>
    <input type="submit" class="pad" value="Submit">
</form>
